.chart-container {
    float: left;
    width: 200px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.title {
    height: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.chart {
    height: 200px;
    border-bottom: 1px solid black;
}

.chart .element {
    float: left;
    width: 10px;
    margin: 0 7.5px;
    background-color: black;
    position: relative;
}